@import "compass";
@import "fancy-buttons";

$imageblue: #3a64e9;
/* $imageblue: #5675d7; */

$darkblue: #1E2336;
$brightgreen: #ceff00;

$default-box-shadow-color : #888;
$default-box-shadow-h-offset : 3px;
$default-box-shadow-v-offset : 3px;

button	{	@include fancy-button( );
		}
		
		

//Prefixes definition
$webkit:true;
$o:true;
$moz:true;
$w3:true;
$ms:true;

@mixin lightborder	{	border: 1px solid #ddd;
					}


@mixin small-body	 	{	font-family: "Tahoma", "Lucida Grande", sans-serif;
							font-weight: 200;
							font-size: 1em;
							line-height: 160%;
							color: #555;
						}

//Gradient Mixin
@mixin gradient($mode,$direction,$from,$to,$oldDirection:null){

    @if $webkit == true {
        @if($oldDirection != null){
            background-image: -webkit-gradient($mode, #{$oldDirection}, from($from),to($to));
        }
        background-image: -webkit-#{$mode}-gradient($direction, $from, $to);
    }
    @if $moz == true {
        background-image: -moz-#{$mode}-gradient($direction, $from, $to);
    }
    @if $o == true {
        background-image: -o-#{$mode}-gradient($direction, $from, $to);
    }
    @if $ms == true {
        background-image: -ms-#{$mode}-gradient($direction, $from, $to);
    }
    @if $w3 == true {
        background-image: #{$mode}-gradient($direction, $from, $to);
    }
}

@mixin gradientDark {	background-color: #222222;
@include gradient(linear,top,rgb(34, 34, 34),rgb(0, 0, 0),'left top, left bottom');
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222222', EndColorStr='#000000');



					}
