/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import "base";

html, body	{	font-family: Tahoma, sans-serif;
				font-size: 10pt;	
				background: url('../media/lightpaperfibers.png');
			}

#zone-user-wrapper	{	position: relative;
						background: url('../media/lightpaperfibers.png');
						color: #222;
						padding: 1em 0;
						height: 80px;
					}

#zone-menu-wrapper		{	position: relative;
							margin-bottom: -2px;

							a 	{	text-decoration: none;
								}	
						}				


#zone-branding-wrapper	{	margin-bottom: 3em;	
							border-bottom: 8px solid #eee;
							height: 480px;
							background: $imageblue;	
						}

.context-about-us	{	#zone-branding-wrapper	{	height: 1px;
													background: $darkblue;
													border-bottom: 1px solid #eee;
												}
					}
						
#zone-preface-wrapper	{	background: #fff;
							padding: 4em 0;	
							color: #fff;
							a 	{ color: #fff;
								}
						}

#zone-postscript-wrapper		{		padding: 4em 0 10em 0;	
										border-top: 8px solid #ccc;
										background-color: $darkblue;
										h2.block-title 			{	font-size: 1em;
																color: $brightgreen;
																border-bottom: 1px solid $brightgreen;
																display: block;
																padding: 0 0 .4em 0;
															}	
									a	{	color: #fff;
											font-size: .9em;
											line-height: 160%;
										}						
								}
h1.site-name,
h2.site-name,
h6.site-slogan			{	font-family: 'Roboto', sans-serif;
							font-weight: 100;
							text-align: right;
							color: #222;
							margin-right: 80px;
						}
						
h1.site-name,
h2.site-name			{	font-size: 4em;
							text-transform: uppercase;
							/* margin-top: -40px; */
							
							a   { 	text-decoration: none;
									color: #222;
								}
						}
h1.site-name,
h2.site-name,
h6.site-slogan,							
.logo-img	{	float: right;
			}
			
.logo-img	{	position: relative;
				padding-top: 5em;
				img	{	position: absolute;
						top: 30px;
						right: 0;
					}	
			}			

h2.block-title	{	font-size: 1.4em;
					color: #333;
					font-family: "Roboto", sans-serif;
					font-weight: 300;
					margin: 0 0 1em 0;
					padding: .4em 0 .4em 1em;
					border-bottom: 1px solid #eee;
					display: none;
				}				



.views-field-field-country	{	text-transform: uppercase;
								font-family: "Roboto", sans-serif;
								font-size: 1em;
								margin: 1em 0;
								
								
								a    {	color: #444;
										text-decoration: none;
										&:hover	{	text-decoration: underline;
												}
									 }
							}
															
.views-field-created	{	text-transform: uppercase;
							font-family: "Roboto", sans-serif;
							font-size: .9em;
							color: #444;
						}
						

.views-field-view-node	{	margin: 0;
							padding-bottom: 6em;
												
							a   {	text-decoration: none;
									font-family: 'Century Gothic', sans-serif;
									font-weight: 300;
									color: #222;
									text-transform: uppercase;
									font-size: .8em;
								}
						}
						
#block-views-product-block,
#block-views-product-block-1,
#block-views-product-block-3,
#block-views-all-products-block-3	{	position: relative;
									
									.view-filters	{	.views-exposed-widget	{	margin: 0 2em 0 0;
																					
																					label,
																					option	{ 	font-family: 'Roboto', sans-serif;
																								margin-bottom: 5px;
																								font-weight: 300;
																							}
																				}
													}

									a   {	color: #777;
											text-decoration: none;
											font-family: 'Roboto', sans-serif;
											font-weight: 400;
										}
										
									.views-row 	{	margin-bottom: 4em;
													height: 400px;
													margin-left: 20px;
													margin-right: -14px;
												}
												
									.views-field-term-node-tid-1,		
									.views-field-field-product-categories	{	@include lightborder;
																				border-bottom-color: transparent;
																				text-transform: uppercase;
																				padding: 5px 0 2px 1em;
																				background: #fff;
																			}				
										
									.views-field-field-illustration	{	padding: 1em 0;
																		@include lightborder;
																		margin-bottom: 10px;
																		background: #fff;
																	}
									.views-field-title,
									.views-field-field-supplier,
									.views-field-term-node-tid		{	padding: 5px;
																		a   {	font-family: "Roboto", sans-serif;
																			}
																		
																	}
																	
									.views-field-field-country		{	padding: 5px;
																	}
																	
									.views-field-title	a			{	color: #222;
																		font-size: 1.1em;
																		font-weight: 300;
																	}
																	
									.views-field-field-country		{	text-transform: uppercase;
																	}																
								}

#block-views-catchphrases-block	{	margin: 4em 0 2em 0;
									.views-field-body		{	font-weight: 100;
																font-family: 'Roboto', sans-serif;
																font-size: 2em;
																color: #444;
															}
								}	

									
#block-views-featured-product-block	{	font-family: 'Roboto', sans-serif;
										padding: 6em 0 0 0;
										
										.views-field-title	{	display: block;
																font-weight: 100;
																font-size: 3.4em;
																color: #fff;
															}
															
										.views-field-body p { 	font-weight: 100;
																font-size: 1.2em;
																line-height: 140%;
																color: #fff;
																padding: 1em 0 0 0;
															}	
										
										.views-field-field-illustration {	position: relative;
																			img	{	position: absolute;
																					right: 0;
																				}
																		}									
									}
									
#block-views-suppliers-block	{	.views-row	{	clear: both;
													padding: 0 0 2em 0;
													border-bottom: 1px solid #ccc;
													margin-bottom: 1em;
												}
												
									.views-field-field-logo img	{	@include lightborder;
																	margin: 0 10px 10px 0;
																}
									
									.views-field-field-country	a 	{	color: #fff;
																		text-decoration: none;
																		text-transform: uppercase;
																		background: $imageblue;
																		padding: 14px 10px 4px 10px;
																		display: block;
																		width: 60px;
																		font-size: .7em;
																		clear: both;
																			
																		&:hover	{	color: $brightgreen;
																					background: #000;
																				}
																	}							
																
									.views-field-title	{	margin-bottom: 10px;
									
															a			{	color: #222;
																			font-size: 1.1em;
																			text-decoration: none;
																			font-family: "Roboto", sans-serif;
																			text-transform: uppercase;
																			font-weight: 300;
																			
																			&:hover	{	text-decoration: underline;
																					}
																		}
														}	
														
									.views-field-body	p 	{	font-family: "Tahoma", "Lucida Grande", sans-serif;
																font-weight: 200;
																font-size: .9em;
																line-height: 130%;
																color: #444;
															}														
								}


#block-views-suppliers-block-1	{	.views-field-description 	{	@include small-body;
																	margin-top: 0;
																}
																
									.views-field-field-logo	img	{	padding: 1em;
																	border: 1px solid #ccc;
																	float: left;
																	margin-right: 20px;
																}
																	
									.views-field-field-country	{	float: right;
																}						
																	
								}
								
#block-views-suppliers-block-2	{	h3	{	font-family: "Roboto", sans-serif;
											font-weight: 100;
											font-size: 3em;
											padding-bottom: .2em;
											margin-bottom: 1em;
										}
										
									.views-row	{	height: 500px;
													background: #fff;
													border: 1px solid #ccc;
													margin-bottom: 1em;
													
													.views-field-field-illustration	{	padding: 20px;
																					}
													
													.views-field-title,
													.views-field-body	{	margin-left: 10px;
																			padding-right: 10px;
																		}
													
													.views-field-title	{	margin-bottom: 10px;
									
															a			{	color: #222;
																			font-size: 1.1em;
																			text-decoration: none;
																			font-family: "Roboto", sans-serif;
																			text-transform: uppercase;
																			font-weight: 300;
																			
																			&:hover	{	text-decoration: underline;
																					}
																		}
														}
													
														
													.views-field-body	 	{	font-family: "Tahoma", "Lucida Grande", sans-serif;
																				font-weight: 200;
																				font-size: 1em;
																				line-height: 160%;
																				color: #444;
																				margin: 20px 0 0 10px;
																			}	
													
													.views-field-field-grape-varieties	{	text-transform: uppercase;
																							border-bottom: 1px solid #ccc;
																							padding: 6px 10px;
																							
																							a 	{ 	color: $imageblue;
																									text-decoration: none;
																								}
																						}							
												}		
								}

#block-views-frontpage-news-block	{	margin: 9em 0 0 0;
										.views-row	{	padding: 1em 0;
													}
													
										.views-field-title	{	margin: 5px 0;
																a	{	color: #222;
																		font-size: 1.3em;
																		text-decoration: none;
																		font-family: 'Roboto Condensed', sans-serif;
																		text-transform: uppercase;
																		font-weight: 300;
																	}
															}
														
										.views-field-body	p,
										.views-field-body	 	{	@include small-body;
																	margin: 5px 0;	
																}	
																
										.views-field-field-gallery-image	{ 	@include single-box-shadow;
																				padding: 3px;
																				margin-bottom: 2em;
																			}										
									}
									

#block-views-about-block	{	padding: 2em 0;
								.views-field-body	{	font-family: "Roboto", sans-serif;
														font-weight: 100;
														font-size: 1.6em;
														line-height: 160%;
														color: #444;
													}	
							}

#block-views-contact-block	{	float: right;
								.views-row	{	margin-bottom: 2em;
												.views-field-title	{	color: $imageblue;;
																		font-family: "Roboto", sans-serif;
																		text-transform: uppercase;
																		margin-bottom: .5em;
																	}
														
								.views-field-body	p,
								.views-field-body 		{	@include small-body;
														}	
													
								.views-field-field-google-map	{	padding: 1em 0;
								
																	a 	{	color: #fff;
																			text-decoration: none;
																			text-transform: uppercase;
																			background: $imageblue;
																			padding: 14px 10px 4px 10px;
																			display: block;
																			font-size: .7em;
																			clear: both;
																				
																			&:hover	{	color: $brightgreen;
																						background: #000;
																					}
																		}
																}					
																	
											}
							}

#block-search-form	{	position: absolute;
						right: 0;
						top:0;
					}


#block-views-illustrations-block	{	float: right;
										position: relative;
										margin-top: -10em;
										z-index: 0;
									}
									
ul.menu		{	padding: 2em 0;
				z-index: 200;
			}

ul#superfish-1	{	position: absolute;
					top: -20px;
				
				}
													
ul.superfish-2	{	.sf-vertical, .sf-vertical li 	{	width: 30em;
													}
				}					
					
ul.language-switcher-locale-url	{	li  {	display: inline;
											float: left;
											
											a   {	text-decoration: none;
													font-weight: 700;
													font-family: 'Roboto', sans-serif;
													color: #444;
													padding: 4em 10px 10px 10px;
												}
										}
								}											
				
													