/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
@import "base";

#block-views-featured-product-block	{	.views-field-field-illustration {	img	{	display: block;
																				}
																		}
									}								
nav {	border-bottom: 0; 

		ul	{	display: block;  
        		height: auto;
			} 
			
		li 	{	display: block;  
        		float: left;  
        		display: inline;
        		width: auto; 
        		
        		a 	{  border-bottom: 1px solid #576979;  
    				}  
    		}  	
    				
		a#pull 	{	display: none;   
			    }	     	
	} 

ul#superfish-5		{	li  {	margin: 0;
								padding: 0;
								
								a 	{ 	color: #eee;
										padding: 14px 30px;
										text-decoration: none;
										border: none;
										border-left: 1px solid #888;
									}
									
								a:hover , 
								a.active	{	@include background-image(linear-gradient(#fff, #bbb 20%, #ccc 70%, #ddd));
												padding: 14px 30px;
												color: #222; 
											}	
							}
					}		