/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Responsive Menu Mobile version
*/
/* line 9, ../sass/global.scss */
nav {
  border-bottom: 0;
}
/* line 11, ../sass/global.scss */
nav ul {
  display: none;
  height: auto;
}
/* line 15, ../sass/global.scss */
nav li {
  display: block;
  float: none;
  width: 100%;
}
/* line 19, ../sass/global.scss */
nav li a {
  border-bottom: 1px solid #576979;
}
/* line 23, ../sass/global.scss */
nav a#pull {
  display: block;
  width: 100%;
  position: relative;
  color: #eee;
  padding: 14px 30px;
  text-decoration: none;
  border: none;
}
/* line 32, ../sass/global.scss */
nav a#pull:after {
  content: "";
  /* background: url('nav-icon.png') no-repeat;  */
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  rightright: 15px;
  top: 10px;
}

/* End responsive menu */
/* line 46, ../sass/global.scss */
html, body {
  font-family: Tahoma, sans-serif;
  font-size: 10pt;
}

/* line 50, ../sass/global.scss */
#zone-header-wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlMjMzNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #1e2336));
  background-image: -moz-linear-gradient(top, #555555, #1e2336);
  background-image: -webkit-linear-gradient(top, #555555, #1e2336);
  background-image: linear-gradient(to bottom, #555555, #1e2336);
  z-index: 1000;
  width: 100%;
  position: fixed;
}

/* line 56, ../sass/global.scss */
#zone-user-wrapper {
  position: relative;
  color: #222;
  padding: 6em 0 0 0;
  background: #635583;
}

/* line 62, ../sass/global.scss */
#zone-menu-wrapper {
  position: relative;
  background: transparent;
}
/* line 65, ../sass/global.scss */
#zone-menu-wrapper a {
  text-decoration: none;
}

/* line 70, ../sass/global.scss */
.front #zone-menu-wrapper {
  background: #fff;
}

/* line 74, ../sass/global.scss */
#zone-branding-wrapper {
  margin-bottom: 3em;
  border: none;
  background: transparent;
}

/* line 81, ../sass/global.scss */
.context-news #zone-branding-wrapper {
  margin-bottom: 3em;
  border: none;
  background: #fff;
}

/* line 93, ../sass/global.scss */
.context-about #zone-branding-wrapper,
.context-legal #zone-branding-wrapper,
.context-products #zone-branding-wrapper,
.context-downloads #zone-branding-wrapper,
.context-contact #zone-branding-wrapper,
.context-countries #zone-branding-wrapper,
.context-suppliers #zone-branding-wrapper,
.context-taxonomy #zone-branding-wrapper {
  border: none;
}

/* line 97, ../sass/global.scss */
.context-content #zone-branding-wrapper {
  border: none;
}

/* line 101, ../sass/global.scss */
.context-countries #zone-content-wrapper {
  padding: 4em 0;
}

/* line 106, ../sass/global.scss */
.context-downloads #zone-preface-wrapper {
  margin: 0;
}
/* line 108, ../sass/global.scss */
.context-downloads #zone-branding-wrapper {
  margin-bottom: 0;
  border: none;
}

/* line 114, ../sass/global.scss */
#zone-preface-wrapper {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 150%;
  font-size: 1.1em;
  padding-bottom: 6em;
}
/* line 121, ../sass/global.scss */
#zone-preface-wrapper p {
  padding: 6px 0;
}
/* line 124, ../sass/global.scss */
#zone-preface-wrapper a {
  color: #fff;
}

/* line 128, ../sass/global.scss */
#zone-postscript-wrapper,
#zone-footer-wrapper {
  padding: 4em 0 6em 0;
  border-top: 8px solid #635583;
  background-color: #342C43;
}
/* line 133, ../sass/global.scss */
#zone-postscript-wrapper h2.block-title,
#zone-footer-wrapper h2.block-title {
  font-size: 1em;
  color: #7ECF8C;
  border-bottom: 1px solid #7ECF8C;
  display: block;
  padding: 0 0 .4em 0;
}
/* line 139, ../sass/global.scss */
#zone-postscript-wrapper a,
#zone-footer-wrapper a {
  color: #fff;
  font-size: .9em;
  line-height: 160%;
}

/* line 145, ../sass/global.scss */
#zone-footer-wrapper {
  border-top: 1px dotted #555;
  text-align: center;
  padding: 2em 0 4em 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MmM0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTEyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #342c43), color-stop(100%, #111122));
  background-image: -moz-linear-gradient(top, #342c43, #111122);
  background-image: -webkit-linear-gradient(top, #342c43, #111122);
  background-image: linear-gradient(to bottom, #342c43, #111122);
}
/* line 150, ../sass/global.scss */
#zone-footer-wrapper a {
  padding: 1em 2em;
  color: #7ECF8C;
}
/* line 154, ../sass/global.scss */
#zone-footer-wrapper #block-superfish-7 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* line 159, ../sass/global.scss */
h1.site-name,
h2.site-name,
h6.site-slogan {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: right;
  color: #ddd;
  margin-right: 80px;
}

/* line 168, ../sass/global.scss */
h1.site-name,
h2.site-name {
  font-size: 4em;
  text-transform: uppercase;
}
/* line 172, ../sass/global.scss */
h1.site-name a,
h2.site-name a {
  text-decoration: none;
  color: #ddd;
}

/* line 176, ../sass/global.scss */
h1.site-name,
h2.site-name,
h6.site-slogan,
.logo-img {
  float: right;
}

/* line 182, ../sass/global.scss */
.logo-img {
  position: relative;
  padding-top: 5em;
}
/* line 184, ../sass/global.scss */
.logo-img img {
  position: absolute;
  top: 30px;
  right: 0;
}

/* line 190, ../sass/global.scss */
h2.block-title {
  font-size: 1.4em;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: .4em 0 .4em 1em;
  border-bottom: 1px solid #eee;
  display: none;
}

/* line 202, ../sass/global.scss */
.views-field-field-country {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 1em 0;
}
/* line 208, ../sass/global.scss */
.views-field-field-country a {
  color: #444;
  text-decoration: none;
}
/* line 210, ../sass/global.scss */
.views-field-field-country a:hover {
  text-decoration: underline;
}

/* line 215, ../sass/global.scss */
.views-field-created {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: .9em;
  color: #444;
}

/* line 222, ../sass/global.scss */
.views-field-view-node {
  margin: 0;
  padding-bottom: 6em;
}
/* line 225, ../sass/global.scss */
.views-field-view-node a {
  text-decoration: none;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
  font-size: .8em;
}

/* line 234, ../sass/global.scss */
#block-views-downloads-block-1 {
  color: #222;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  padding-top: 3em;
}
/* line 239, ../sass/global.scss */
#block-views-downloads-block-1 .views-row-odd {
  background: #eee;
}
/* line 242, ../sass/global.scss */
#block-views-downloads-block-1 .views-row-even {
  color: #222;
}
/* line 245, ../sass/global.scss */
#block-views-downloads-block-1 .views-row {
  padding: 1em;
}
/* line 248, ../sass/global.scss */
#block-views-downloads-block-1 .views-field-title {
  text-transform: uppercase;
}
/* line 251, ../sass/global.scss */
#block-views-downloads-block-1 .views-field-field-download {
  font-size: .9em;
}
/* line 253, ../sass/global.scss */
#block-views-downloads-block-1 .views-field-field-download a {
  color: #444;
  text-decoration: none;
  padding: 5px 24px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #aaa;
}
/* line 260, ../sass/global.scss */
#block-views-downloads-block-1 .views-field-field-download a:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #cccccc, #dddddd);
  background-image: -webkit-linear-gradient(top, #cccccc, #dddddd);
  background-image: linear-gradient(to bottom, #cccccc, #dddddd);
  color: #222;
}

/* line 267, ../sass/global.scss */
#block-views-product-block,
#block-views-product-block-1,
#block-views-all-products-block-3,
#block-views-all-products-block-1 {
  position: relative;
}
/* line 272, ../sass/global.scss */
#block-views-product-block .view-content .views-row,
#block-views-product-block-1 .view-content .views-row,
#block-views-all-products-block-3 .view-content .views-row,
#block-views-all-products-block-1 .view-content .views-row {
  position: inherit;
}
/* line 274, ../sass/global.scss */
#block-views-product-block .view-content .views-row a,
#block-views-product-block-1 .view-content .views-row a,
#block-views-all-products-block-3 .view-content .views-row a,
#block-views-all-products-block-1 .view-content .views-row a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
/* line 281, ../sass/global.scss */
#block-views-product-block .view-filters,
#block-views-product-block-1 .view-filters,
#block-views-all-products-block-3 .view-filters,
#block-views-all-products-block-1 .view-filters {
  padding: 1em 0 0 2em;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  color: #222;
}
/* line 286, ../sass/global.scss */
#block-views-product-block .view-filters .form-item-sort-by,
#block-views-product-block-1 .view-filters .form-item-sort-by,
#block-views-all-products-block-3 .view-filters .form-item-sort-by,
#block-views-all-products-block-1 .view-filters .form-item-sort-by {
  margin-left: 5em;
  padding-left: 2em;
  border-left: 1px solid #444;
}
/* line 291, ../sass/global.scss */
#block-views-product-block .view-filters .views-exposed-widget,
#block-views-product-block-1 .view-filters .views-exposed-widget,
#block-views-all-products-block-3 .view-filters .views-exposed-widget,
#block-views-all-products-block-1 .view-filters .views-exposed-widget {
  margin: 0 2em 2em 0;
}
/* line 293, ../sass/global.scss */
#block-views-product-block .view-filters .views-exposed-widget label,
#block-views-product-block .view-filters .views-exposed-widget option,
#block-views-product-block-1 .view-filters .views-exposed-widget label,
#block-views-product-block-1 .view-filters .views-exposed-widget option,
#block-views-all-products-block-3 .view-filters .views-exposed-widget label,
#block-views-all-products-block-3 .view-filters .views-exposed-widget option,
#block-views-all-products-block-1 .view-filters .views-exposed-widget label,
#block-views-all-products-block-1 .view-filters .views-exposed-widget option {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  font-weight: 300;
}
/* line 301, ../sass/global.scss */
#block-views-product-block .views-field-term-node-tid-1,
#block-views-product-block .views-field-field-product-categories,
#block-views-product-block .views-field-field-country,
#block-views-product-block-1 .views-field-term-node-tid-1,
#block-views-product-block-1 .views-field-field-product-categories,
#block-views-product-block-1 .views-field-field-country,
#block-views-all-products-block-3 .views-field-term-node-tid-1,
#block-views-all-products-block-3 .views-field-field-product-categories,
#block-views-all-products-block-3 .views-field-field-country,
#block-views-all-products-block-1 .views-field-term-node-tid-1,
#block-views-all-products-block-1 .views-field-field-product-categories,
#block-views-all-products-block-1 .views-field-field-country {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 8px 0 2px 1em;
  margin: 0;
  background: #635583;
}
/* line 309, ../sass/global.scss */
#block-views-product-block .views-field-term-node-tid-1 a,
#block-views-product-block .views-field-field-product-categories a,
#block-views-product-block .views-field-field-country a,
#block-views-product-block-1 .views-field-term-node-tid-1 a,
#block-views-product-block-1 .views-field-field-product-categories a,
#block-views-product-block-1 .views-field-field-country a,
#block-views-all-products-block-3 .views-field-term-node-tid-1 a,
#block-views-all-products-block-3 .views-field-field-product-categories a,
#block-views-all-products-block-3 .views-field-field-country a,
#block-views-all-products-block-1 .views-field-term-node-tid-1 a,
#block-views-all-products-block-1 .views-field-field-product-categories a,
#block-views-all-products-block-1 .views-field-field-country a {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
/* line 312, ../sass/global.scss */
#block-views-product-block .views-field-term-node-tid-1 a:hover,
#block-views-product-block .views-field-field-product-categories a:hover,
#block-views-product-block .views-field-field-country a:hover,
#block-views-product-block-1 .views-field-term-node-tid-1 a:hover,
#block-views-product-block-1 .views-field-field-product-categories a:hover,
#block-views-product-block-1 .views-field-field-country a:hover,
#block-views-all-products-block-3 .views-field-term-node-tid-1 a:hover,
#block-views-all-products-block-3 .views-field-field-product-categories a:hover,
#block-views-all-products-block-3 .views-field-field-country a:hover,
#block-views-all-products-block-1 .views-field-term-node-tid-1 a:hover,
#block-views-all-products-block-1 .views-field-field-product-categories a:hover,
#block-views-all-products-block-1 .views-field-field-country a:hover {
  color: #7ECF8C;
}
/* line 317, ../sass/global.scss */
#block-views-product-block .views-field-field-illustration,
#block-views-product-block-1 .views-field-field-illustration,
#block-views-all-products-block-3 .views-field-field-illustration,
#block-views-all-products-block-1 .views-field-field-illustration {
  padding: 1em 0;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #fff;
}
/* line 322, ../sass/global.scss */
#block-views-product-block .views-field-title,
#block-views-product-block .views-field-field-supplier,
#block-views-product-block .views-field-term-node-tid,
#block-views-product-block-1 .views-field-title,
#block-views-product-block-1 .views-field-field-supplier,
#block-views-product-block-1 .views-field-term-node-tid,
#block-views-all-products-block-3 .views-field-title,
#block-views-all-products-block-3 .views-field-field-supplier,
#block-views-all-products-block-3 .views-field-term-node-tid,
#block-views-all-products-block-1 .views-field-title,
#block-views-all-products-block-1 .views-field-field-supplier,
#block-views-all-products-block-1 .views-field-term-node-tid {
  padding: 5px;
}
/* line 325, ../sass/global.scss */
#block-views-product-block .views-field-title a,
#block-views-product-block .views-field-field-supplier a,
#block-views-product-block .views-field-term-node-tid a,
#block-views-product-block-1 .views-field-title a,
#block-views-product-block-1 .views-field-field-supplier a,
#block-views-product-block-1 .views-field-term-node-tid a,
#block-views-all-products-block-3 .views-field-title a,
#block-views-all-products-block-3 .views-field-field-supplier a,
#block-views-all-products-block-3 .views-field-term-node-tid a,
#block-views-all-products-block-1 .views-field-title a,
#block-views-all-products-block-1 .views-field-field-supplier a,
#block-views-all-products-block-1 .views-field-term-node-tid a {
  font-family: "Roboto", sans-serif;
  color: #111;
}
/* line 331, ../sass/global.scss */
#block-views-product-block .views-field-field-country,
#block-views-product-block-1 .views-field-field-country,
#block-views-all-products-block-3 .views-field-field-country,
#block-views-all-products-block-1 .views-field-field-country {
  background: #465157;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 334, ../sass/global.scss */
#block-views-product-block .views-field-field-country a,
#block-views-product-block-1 .views-field-field-country a,
#block-views-all-products-block-3 .views-field-field-country a,
#block-views-all-products-block-1 .views-field-field-country a {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
/* line 337, ../sass/global.scss */
#block-views-product-block .views-field-field-country a:hover,
#block-views-product-block-1 .views-field-field-country a:hover,
#block-views-all-products-block-3 .views-field-field-country a:hover,
#block-views-all-products-block-1 .views-field-field-country a:hover {
  color: #7ECF8C;
}
/* line 342, ../sass/global.scss */
#block-views-product-block .views-field-title a,
#block-views-product-block-1 .views-field-title a,
#block-views-all-products-block-3 .views-field-title a,
#block-views-all-products-block-1 .views-field-title a {
  color: #222;
  font-size: 1.1em;
  font-weight: 300;
}
/* line 347, ../sass/global.scss */
#block-views-product-block .views-field-field-country,
#block-views-product-block-1 .views-field-field-country,
#block-views-all-products-block-3 .views-field-field-country,
#block-views-all-products-block-1 .views-field-field-country {
  text-transform: uppercase;
}

/* line 354, ../sass/global.scss */
#block-views-product-block-2 {
  margin: 2em 0;
  font-family: "Roboto", sans-serif;
}
/* line 357, ../sass/global.scss */
#block-views-product-block-2 .views-field-field-illustration img {
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;
  margin-bottom: 20em;
}
/* line 364, ../sass/global.scss */
#block-views-product-block-2 .views-field-title {
  font-weight: 300;
  font-size: 2em;
  line-height: 110%;
  margin-bottom: 1.2em;
}
/* line 370, ../sass/global.scss */
#block-views-product-block-2 .views-field-body,
#block-views-product-block-2 .views-field-body-1 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 160%;
}
/* line 376, ../sass/global.scss */
#block-views-product-block-2 .field_title {
  font-weight: 300;
  font-size: 1em;
  margin-top: 2em;
  padding-bottom: .2em;
  border-bottom: 1px dotted #aaa;
  margin-bottom: 20px;
}
/* line 386, ../sass/global.scss */
#block-views-product-block-2 .views-field-field-supplier .field-content,
#block-views-product-block-2 .views-field-field-country .field-content {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 10px;
}
/* line 390, ../sass/global.scss */
#block-views-product-block-2 .views-field-field-supplier .field-content a,
#block-views-product-block-2 .views-field-field-country .field-content a {
  color: #342C43;
  text-decoration: none;
}
/* line 392, ../sass/global.scss */
#block-views-product-block-2 .views-field-field-supplier .field-content a:hover,
#block-views-product-block-2 .views-field-field-country .field-content a:hover {
  text-decoration: underline;
}

/* line 399, ../sass/global.scss */
#block-views-product-block-3 {
  background: #342C43;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 1em 2em;
  color: #fff;
  width: 10.5%;
  margin: 2em 0 0 0;
}
/* line 406, ../sass/global.scss */
#block-views-product-block-3 a {
  color: #fff;
  text-decoration: none;
}
/* line 409, ../sass/global.scss */
#block-views-product-block-3 a:hover {
  color: #7ECF8C;
}

/* line 415, ../sass/global.scss */
#block-views-product-block-1 .views-row,
#block-views-all-products-block-3 .views-row {
  margin-bottom: 4em;
  height: 400px;
}

/* line 420, ../sass/global.scss */
#block-views-featured-product-block {
  font-family: 'Roboto', sans-serif;
  padding: 3em 0 8em 0;
  min-height: 250px;
}
/* line 426, ../sass/global.scss */
#block-views-featured-product-block .views-field-title {
  display: block;
  font-weight: 100;
  font-size: 3.4em;
  color: #222;
}
/* line 432, ../sass/global.scss */
#block-views-featured-product-block .views-field-body p {
  font-weight: 100;
  font-size: 1.4em;
  line-height: 160%;
  color: #222;
  padding: 1em 0 0 0;
}
/* line 439, ../sass/global.scss */
#block-views-featured-product-block .views-field-field-illustration {
  position: relative;
}
/* line 441, ../sass/global.scss */
#block-views-featured-product-block .views-field-field-illustration img {
  position: absolute;
  right: 0;
  display: none;
}

/* line 448, ../sass/global.scss */
#block-views-country-by-suppliers-block {
  font-family: 'Roboto', sans-serif;
  color: #222;
  margin-bottom: 6em;
}
/* line 452, ../sass/global.scss */
#block-views-country-by-suppliers-block .views-field-field-country {
  font-size: 3em;
  font-weight: 300;
  color: #444;
}
/* line 457, ../sass/global.scss */
#block-views-country-by-suppliers-block .views-field-description-i18n {
  font-size: 1.4em;
  font-weight: 100;
  color: #444;
  line-height: 140%;
}
/* line 462, ../sass/global.scss */
#block-views-country-by-suppliers-block .views-field-description-i18n p {
  padding-bottom: 1em;
}

/* line 467, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 {
  margin-top: 3em;
}
/* line 469, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-row {
  clear: both;
  margin-bottom: 2em;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 474, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-name-i18n {
  padding-bottom: 10px;
}
/* line 475, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-name-i18n a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #222;
  text-decoration: none;
}
/* line 481, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-name-i18n a:hover {
  text-decoration: underline;
}
/* line 486, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-field-logo {
  float: left;
  margin: 0 10px 10px 0;
}
/* line 489, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-field-logo img {
  padding: 10px;
  border: 1px solid #ccc;
}
/* line 494, ../sass/global.scss */
#block-views-country-by-suppliers-block-1 .views-field-description-i18n {
  line-height: 140%;
  color: #777;
  font-size: 1.1em;
  font-weight: 100;
}

/* line 502, ../sass/global.scss */
#block-views-country-block-1 .views-row {
  padding: 1em;
  float: right;
  margin-bottom: 10px;
}
/* line 505, ../sass/global.scss */
#block-views-country-block-1 .views-row .views-field-name {
  padding-top: 10px;
}
/* line 507, ../sass/global.scss */
#block-views-country-block-1 .views-row .views-field-name a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #222;
  text-decoration: none;
}
/* line 513, ../sass/global.scss */
#block-views-country-block-1 .views-row .views-field-name a:hover {
  text-decoration: underline;
}
/* line 518, ../sass/global.scss */
#block-views-country-block-1 .views-row .views-field-field-logo img {
  padding: 10px;
  border: 1px solid #ccc;
}

/* line 525, ../sass/global.scss */
#block-views-news-block {
  font-family: 'Roboto', sans-serif;
  color: #777;
  padding: 4em 0;
}
/* line 529, ../sass/global.scss */
#block-views-news-block .views-field-field-gallery-image img {
  padding: 1px;
  background: #ccc;
  -moz-box-shadow: 3px 5px #888;
  -webkit-box-shadow: 3px 5px #888;
  box-shadow: 3px 5px #888;
}
/* line 534, ../sass/global.scss */
#block-views-news-block .views-field-title {
  font-weight: 300;
  font-size: 1.6em;
  padding-bottom: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #222;
}
/* line 541, ../sass/global.scss */
#block-views-news-block .views-field-body p {
  font-weight: 100;
  font-size: 1.4em;
  padding-bottom: 1.4em;
  line-height: 140%;
}

/* line 549, ../sass/global.scss */
#block-views-news-block-1 {
  font-family: 'Roboto', sans-serif;
  color: #222;
}
/* line 552, ../sass/global.scss */
#block-views-news-block-1 .view-news {
  display: block;
}
/* line 555, ../sass/global.scss */
#block-views-news-block-1 .view-news .views-row {
  min-height: 300px;
}
/* line 560, ../sass/global.scss */
#block-views-news-block-1 .views-field-title {
  font-weight: 300;
  font-size: 1em;
  padding: 5px 0;
  font-family: 'Roboto Condensed', sans-serif;
}
/* line 565, ../sass/global.scss */
#block-views-news-block-1 .views-field-title a {
  color: #222;
  text-decoration: none;
}
/* line 570, ../sass/global.scss */
#block-views-news-block-1 .views-field-field-gallery-image img {
  padding: 4px;
  background: #fff;
  -moz-box-shadow: 3px 5px #888;
  -webkit-box-shadow: 3px 5px #888;
  box-shadow: 3px 5px #888;
}

/* line 576, ../sass/global.scss */
#block-views-suppliers-block .views-row {
  clear: both;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
/* line 582, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-logo img {
  border: 1px solid #ddd;
  margin: 0 10px 10px 0;
}
/* line 586, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-country a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #3a64e9;
  padding: 14px 10px 4px 10px;
  display: block;
  width: 60px;
  font-size: .7em;
  clear: both;
}
/* line 596, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-country a:hover {
  color: #7ECF8C;
  background: #000;
}
/* line 601, ../sass/global.scss */
#block-views-suppliers-block .views-field-title {
  margin-bottom: 10px;
}
/* line 603, ../sass/global.scss */
#block-views-suppliers-block .views-field-title a {
  color: #222;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 610, ../sass/global.scss */
#block-views-suppliers-block .views-field-title a:hover {
  text-decoration: underline;
}
/* line 615, ../sass/global.scss */
#block-views-suppliers-block .views-field-body p {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: .9em;
  line-height: 130%;
  color: #444;
}

/* line 624, ../sass/global.scss */
#block-views-suppliers-block-1 .views-field-description-i18n {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin-top: 0;
}
/* line 628, ../sass/global.scss */
#block-views-suppliers-block-1 .views-field-field-logo img {
  padding: 1em;
  border: 1px solid #ccc;
  float: left;
  margin-right: 20px;
}
/* line 634, ../sass/global.scss */
#block-views-suppliers-block-1 .views-label-field-country {
  float: left;
  padding-right: 20px;
}

/* line 640, ../sass/global.scss */
#block-views-suppliers-block-2 h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3em;
  padding-bottom: .2em;
  margin-bottom: 1em;
}
/* line 647, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row {
  height: 360px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 1em;
}
/* line 652, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-illustration {
  padding: 20px;
}
/* line 655, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title,
#block-views-suppliers-block-2 .views-row .views-field-body {
  margin-left: 10px;
  padding-right: 10px;
}
/* line 660, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title {
  margin-bottom: 10px;
}
/* line 661, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title a {
  color: #222;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 668, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title a:hover {
  text-decoration: underline;
}
/* line 674, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #444;
  margin: 20px 0 0 10px;
}
/* line 682, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-grape-varieties {
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 6px 10px;
}
/* line 686, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-grape-varieties a {
  color: #3a64e9;
  text-decoration: none;
}

/* line 693, ../sass/global.scss */
#block-views-frontpage-news-block {
  margin: 9em 0 0 0;
}
/* line 694, ../sass/global.scss */
#block-views-frontpage-news-block .views-row {
  padding: 1em 0;
}
/* line 697, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-title {
  margin: 5px 0;
}
/* line 698, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-title a {
  color: #222;
  font-size: 1.3em;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 707, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-body p,
#block-views-frontpage-news-block .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin: 5px 0;
}
/* line 712, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-field-gallery-image {
  padding: 3px;
  margin-bottom: 2em;
}
/* line 712, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-field-gallery-image img {
  -moz-box-shadow: 3px 5px #888;
  -webkit-box-shadow: 3px 5px #888;
  box-shadow: 3px 5px #888;
}

/* line 721, ../sass/global.scss */
#block-views-about-block {
  padding: 2em 0;
}
/* line 722, ../sass/global.scss */
#block-views-about-block .views-field-body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.6em;
  line-height: 160%;
  color: #444;
}

/* line 730, ../sass/global.scss */
#block-views-contact-block {
  color: #555;
}
/* line 732, ../sass/global.scss */
#block-views-contact-block .views-row {
  margin-bottom: 2em;
}
/* line 734, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-phone {
  padding-top: 8px;
  padding-bottom: 2px;
}
/* line 738, ../sass/global.scss */
#block-views-contact-block .views-row .views-label {
  float: left;
}
/* line 741, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-title {
  color: #222;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: .5em;
}
/* line 747, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-body p,
#block-views-contact-block .views-row .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
}
/* line 751, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map {
  padding: 1em 0;
}
/* line 753, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #635583;
  padding: 14px 10px 4px 10px;
  display: block;
  font-size: .7em;
  clear: both;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 763, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map a:hover {
  color: #fff;
  background: #342C43;
}

/* line 773, ../sass/global.scss */
#block-views-catchphrases-block {
  margin: 3em 0 2em 0;
  padding-top: 3em;
}
/* line 775, ../sass/global.scss */
#block-views-catchphrases-block .views-field-body {
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #fff;
}

/* line 782, ../sass/global.scss */
#block-search-form {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 788, ../sass/global.scss */
#block-views-illustrations-block {
  float: right;
  position: relative;
  margin-top: -10em;
  margin-bottom: -2px;
  z-index: 0;
}

/* line 796, ../sass/global.scss */
#block-locale-language {
  position: absolute;
  top: 13px;
  right: 0;
}
/* line 801, ../sass/global.scss */
#block-locale-language ul li {
  display: inline;
  float: left;
}
/* line 804, ../sass/global.scss */
#block-locale-language ul li a {
  text-decoration: none;
  color: #aaa;
  padding: 14px 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWFhYWEiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(20%, #cccccc), color-stop(80%, #eeeeee), color-stop(100%, #aaaaaa));
  background-image: -moz-linear-gradient(#eeeeee, #cccccc 20%, #eeeeee 80%, #aaaaaa);
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc 20%, #eeeeee 80%, #aaaaaa);
  background-image: linear-gradient(#eeeeee, #cccccc 20%, #eeeeee 80%, #aaaaaa);
}
/* line 810, ../sass/global.scss */
#block-locale-language ul li a:hover {
  text-decoration: none;
  color: #aaa;
  padding: 14px 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjYmJiYmJiIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5OTk5OTkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(20%, #bbbbbb), color-stop(80%, #dddddd), color-stop(100%, #999999));
  background-image: -moz-linear-gradient(#dddddd, #bbbbbb 20%, #dddddd 80%, #999999);
  background-image: -webkit-linear-gradient(#dddddd, #bbbbbb 20%, #dddddd 80%, #999999);
  background-image: linear-gradient(#dddddd, #bbbbbb 20%, #dddddd 80%, #999999);
}
/* line 816, ../sass/global.scss */
#block-locale-language ul li a.active {
  text-decoration: none;
  color: #222;
  padding: 14px 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjYmJiYmJiIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(20%, #bbbbbb), color-stop(80%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 80%, #dddddd);
  background-image: -webkit-linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 80%, #dddddd);
  background-image: linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 80%, #dddddd);
}

/* line 826, ../sass/global.scss */
#block-user-login,
#block-system-user-menu {
  margin-top: 4em;
  color: #eee;
}
/* line 830, ../sass/global.scss */
#block-user-login ul.menu li,
#block-system-user-menu ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 836, ../sass/global.scss */
#block-user-login form div.form-item,
#block-system-user-menu form div.form-item {
  display: inline;
  float: left;
  margin-right: 5px;
}
/* line 840, ../sass/global.scss */
#block-user-login form div.form-item label,
#block-system-user-menu form div.form-item label {
  padding-bottom: 10px;
}
/* line 844, ../sass/global.scss */
#block-user-login form .item-list,
#block-system-user-menu form .item-list {
  clear: both;
  margin: 0;
  padding: 0;
}
/* line 848, ../sass/global.scss */
#block-user-login form .item-list ul,
#block-system-user-menu form .item-list ul {
  margin: 0;
  padding: 0;
}
/* line 851, ../sass/global.scss */
#block-user-login form .item-list ul li,
#block-system-user-menu form .item-list ul li {
  margin: 0;
  padding: 0;
}

/* line 861, ../sass/global.scss */
#block-views-country-terms-block .views-field-field-country .field-content,
#block-views-country-terms-block .views-field-field-country .country-title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3em;
  padding-bottom: .2em;
  margin-bottom: 1em;
  text-transform: capitalize;
}

/* line 872, ../sass/global.scss */
#block-views-country-terms-block-1 .views-row {
  clear: both;
  margin-bottom: 1em;
  height: 120px;
  border: 1px solid #ccc;
  padding: 1em;
}
/* line 880, ../sass/global.scss */
#block-views-country-terms-block-1 .views-field-name a {
  color: #222;
  text-decoration: none;
}
/* line 883, ../sass/global.scss */
#block-views-country-terms-block-1 .views-field-name a:hover {
  text-decoration: underline;
}
/* line 888, ../sass/global.scss */
#block-views-country-terms-block-1 .views-field-field-logo img {
  border: 1px solid #ddd;
  margin: 0 10px 10px 0;
  float: left;
}

/* line 894, ../sass/global.scss */
ul#superfish-1 li {
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 1px;
  background: #635583;
}
/* line 898, ../sass/global.scss */
ul#superfish-1 li a {
  color: #fff;
  padding: 20px 20px 8px 20px;
  text-transform: uppercase;
  border: none;
  font-size: .9em;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 905, ../sass/global.scss */
ul#superfish-1 li a:hover {
  color: #eee;
  background: #465157;
  border-top: 1px solid #fff;
}
/* line 911, ../sass/global.scss */
ul#superfish-1 li a.active {
  color: #fff;
  background: #465157;
  border-top: 1px solid #fff;
}
/* line 916, ../sass/global.scss */
ul#superfish-1 li .last a {
  border: none;
}
/* line 921, ../sass/global.scss */
ul#superfish-1 li.sf-item-1 {
  margin-left: 0;
}
/* line 922, ../sass/global.scss */
ul#superfish-1 li.sf-item-1 a {
  border-left: none;
}

/* line 927, ../sass/global.scss */
.sf-menu.sf-style-default {
  float: left;
  margin-bottom: 0;
  padding: 0px;
}

/* line 933, ../sass/global.scss */
ul.superfish-2 .sf-vertical, ul.superfish-2 .sf-vertical li {
  width: 30em;
}

/* line 939, ../sass/global.scss */
ul#superfish-5 li {
  margin: 0;
  padding: 0;
}
/* line 942, ../sass/global.scss */
ul#superfish-5 li a {
  color: #eee;
  padding: 1em 2em;
  text-decoration: none;
  border: none;
}
/* line 948, ../sass/global.scss */
ul#superfish-5 li a:hover,
ul#superfish-5 li a.active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjYmJiYmJiIi8+PHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(20%, #bbbbbb), color-stop(70%, #cccccc), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 70%, #dddddd);
  background-image: -webkit-linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 70%, #dddddd);
  background-image: linear-gradient(#ffffff, #bbbbbb 20%, #cccccc 70%, #dddddd);
  padding: 1em 2em;
  color: #222;
}
