/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/media/button_bg.png?1343141432') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, button:focus {
  outline: none;
}

/* line 9, ../sass/_base.scss */
button {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  font-size: 10px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3c3c3c), color-stop(50%, #353535), color-stop(100%, #4e4e4e));
  background-image: -webkit-linear-gradient(#989898, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e);
  background-image: -moz-linear-gradient(#989898, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e);
  background-image: -o-linear-gradient(#989898, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e);
  background-image: linear-gradient(#989898, #6a6a6a 10%, #3c3c3c 50%, #353535 50%, #4e4e4e);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.26667) 0 0 0.1em 1px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.26667) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.26667) 0 0 0.1em 1px inset;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button, button:visited {
  color: white;
}
/* line 31, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #919191), color-stop(10%, #636363), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -webkit-linear-gradient(#919191, #636363 10%, #353535 50%, #2d2d2d 50%, #474747);
  background-image: -moz-linear-gradient(#919191, #636363 10%, #353535 50%, #2d2d2d 50%, #474747);
  background-image: -o-linear-gradient(#919191, #636363 10%, #353535 50%, #2d2d2d 50%, #474747);
  background-image: linear-gradient(#919191, #636363 10%, #353535 50%, #2d2d2d 50%, #474747);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:hover, button:hover:visited, button:focus, button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #282828), color-stop(100%, #494949));
  background-image: -webkit-linear-gradient(#353535, #3a3a3a 30%, #303030 50%, #282828 50%, #494949);
  background-image: -moz-linear-gradient(#353535, #3a3a3a 30%, #303030 50%, #282828 50%, #494949);
  background-image: -o-linear-gradient(#353535, #3a3a3a 30%, #303030 50%, #282828 50%, #494949);
  background-image: linear-gradient(#353535, #3a3a3a 30%, #303030 50%, #282828 50%, #494949);
  border-color: #0e0e0e;
  text-shadow: black 0px -1px -1px;
  -webkit-box-shadow: #1e1e1e 0 0.08em 0.2em 1px inset;
  -moz-box-shadow: #1e1e1e 0 0.08em 0.2em 1px inset;
  box-shadow: #1e1e1e 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.2.0/lib/stylesheets/_fancy-buttons.sass */
button:active, button:active:visited {
  color: white;
}

/* line 5, ../sass/global.scss */
html, body {
  font-family: Tahoma, sans-serif;
  font-size: 10pt;
  background: url("../media/white_wall.png");
}

/* line 10, ../sass/global.scss */
#zone-user-wrapper {
  position: relative;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222222), to(black));
  background-image: -webkit-linear-gradient(top, #222222, black);
  background-image: -moz-linear-gradient(top, #222222, black);
  background-image: -o-linear-gradient(top, #222222, black);
  background-image: -ms-linear-gradient(top, #222222, black);
  background-image: linear-gradient(top, #222222, black);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222222', EndColorStr='#000000');
  color: #fff;
  padding: 1em 0 7em 0;
}
/* line 15, ../sass/global.scss */
#zone-user-wrapper a {
  color: #fff;
}

/* line 21, ../sass/global.scss */
#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-postscript-wrapper {
  background: #3a64e9;
}

/* line 24, ../sass/global.scss */
#zone-branding-wrapper {
  margin-bottom: 2em;
}

/* line 27, ../sass/global.scss */
#zone-menu-wrapper {
  margin-top: -20px;
}
/* line 28, ../sass/global.scss */
#zone-menu-wrapper a {
  text-decoration: none;
}

/* line 32, ../sass/global.scss */
#zone-postscript-wrapper {
  padding: 4em 0 10em 0;
  border-top: 4px solid #cccccc;
  margin-top: 4em;
}

/* line 37, ../sass/global.scss */
.region-user-second-inner {
  position: absolute;
  right: 0;
  z-index: 100;
}

/* line 45, ../sass/global.scss */
h2.block-title {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em 0;
  border-bottom: 1px dotted #cccccc;
}

/* line 52, ../sass/global.scss */
#zone-postscript-wrapper h2.block-title {
  font-size: 1em;
  color: #ceff00;
  border-bottom: 1px solid #ceff00;
}
/* line 56, ../sass/global.scss */
#zone-postscript-wrapper a {
  color: #fff;
  font-size: .9em;
  line-height: 160%;
}

/* line 63, ../sass/global.scss */
h1.site-name,
h2.site-name,
h6.site-slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: right;
}

/* line 69, ../sass/global.scss */
h1.site-name,
h2.site-name {
  font-size: 4em;
  text-transform: uppercase;
}
/* line 72, ../sass/global.scss */
h1.site-name a,
h2.site-name a {
  text-decoration: none;
  color: #fff;
}

/* line 80, ../sass/global.scss */
h2.block-title {
  font-size: 2em;
  color: #777;
}

/* line 84, ../sass/global.scss */
.views-field-field-country {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin: 1em 0;
}
/* line 90, ../sass/global.scss */
.views-field-field-country a {
  color: #555;
  text-decoration: none;
}
/* line 92, ../sass/global.scss */
.views-field-field-country a:hover {
  text-decoration: underline;
}

/* line 97, ../sass/global.scss */
.views-field-created {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: .9em;
  padding: 0.2em 0 1em 0;
  /* text-align: right; */
  color: #555;
}

/* line 105, ../sass/global.scss */
.views-field-view-node {
  margin: 0;
  padding-bottom: 6em;
  position: relative;
}
/* line 109, ../sass/global.scss */
.views-field-view-node button.read-more {
  margin: 2em 0;
}
/* line 112, ../sass/global.scss */
.views-field-view-node a {
  text-decoration: none;
  font-family: "Century Gothic", sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: .8em;
}

/* line 124, ../sass/global.scss */
#block-views-product-block,
#block-views-product-block-1,
#block-views-product-block-3,
#block-views-all-products-block-3 {
  position: relative;
}
/* line 126, ../sass/global.scss */
#block-views-product-block .view-filters .views-exposed-widget,
#block-views-product-block-1 .view-filters .views-exposed-widget,
#block-views-product-block-3 .view-filters .views-exposed-widget,
#block-views-all-products-block-3 .view-filters .views-exposed-widget {
  margin: 0 2em 0 0;
}
/* line 129, ../sass/global.scss */
#block-views-product-block .view-filters .views-exposed-widget label,
#block-views-product-block .view-filters .views-exposed-widget option,
#block-views-product-block-1 .view-filters .views-exposed-widget label,
#block-views-product-block-1 .view-filters .views-exposed-widget option,
#block-views-product-block-3 .view-filters .views-exposed-widget label,
#block-views-product-block-3 .view-filters .views-exposed-widget option,
#block-views-all-products-block-3 .view-filters .views-exposed-widget label,
#block-views-all-products-block-3 .view-filters .views-exposed-widget option {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  font-weight: 300;
}
/* line 136, ../sass/global.scss */
#block-views-product-block a,
#block-views-product-block-1 a,
#block-views-product-block-3 a,
#block-views-all-products-block-3 a {
  color: #777;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* line 142, ../sass/global.scss */
#block-views-product-block .views-row,
#block-views-product-block-1 .views-row,
#block-views-product-block-3 .views-row,
#block-views-all-products-block-3 .views-row {
  margin-bottom: 4em;
  height: 400px;
}
/* line 147, ../sass/global.scss */
#block-views-product-block .views-field-term-node-tid-1,
#block-views-product-block .views-field-field-product-categories,
#block-views-product-block-1 .views-field-term-node-tid-1,
#block-views-product-block-1 .views-field-field-product-categories,
#block-views-product-block-3 .views-field-term-node-tid-1,
#block-views-product-block-3 .views-field-field-product-categories,
#block-views-all-products-block-3 .views-field-term-node-tid-1,
#block-views-all-products-block-3 .views-field-field-product-categories {
  border: 1px solid #cccccc;
  border-bottom-color: transparent;
  text-transform: uppercase;
  padding: 5px 0 2px 1em;
  background: #fff;
}
/* line 154, ../sass/global.scss */
#block-views-product-block .views-field-field-illustration,
#block-views-product-block-1 .views-field-field-illustration,
#block-views-product-block-3 .views-field-field-illustration,
#block-views-all-products-block-3 .views-field-field-illustration {
  padding: 1em 0;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  /* @include single-box-shadow;  */
  background: #fff;
}
/* line 162, ../sass/global.scss */
#block-views-product-block .views-field-title,
#block-views-product-block .views-field-field-supplier,
#block-views-product-block .views-field-term-node-tid,
#block-views-product-block-1 .views-field-title,
#block-views-product-block-1 .views-field-field-supplier,
#block-views-product-block-1 .views-field-term-node-tid,
#block-views-product-block-3 .views-field-title,
#block-views-product-block-3 .views-field-field-supplier,
#block-views-product-block-3 .views-field-term-node-tid,
#block-views-all-products-block-3 .views-field-title,
#block-views-all-products-block-3 .views-field-field-supplier,
#block-views-all-products-block-3 .views-field-term-node-tid {
  padding: 5px;
}
/* line 163, ../sass/global.scss */
#block-views-product-block .views-field-title a,
#block-views-product-block .views-field-field-supplier a,
#block-views-product-block .views-field-term-node-tid a,
#block-views-product-block-1 .views-field-title a,
#block-views-product-block-1 .views-field-field-supplier a,
#block-views-product-block-1 .views-field-term-node-tid a,
#block-views-product-block-3 .views-field-title a,
#block-views-product-block-3 .views-field-field-supplier a,
#block-views-product-block-3 .views-field-term-node-tid a,
#block-views-all-products-block-3 .views-field-title a,
#block-views-all-products-block-3 .views-field-field-supplier a,
#block-views-all-products-block-3 .views-field-term-node-tid a {
  font-family: "Roboto", sans-serif;
}
/* line 168, ../sass/global.scss */
#block-views-product-block .views-field-field-country,
#block-views-product-block-1 .views-field-field-country,
#block-views-product-block-3 .views-field-field-country,
#block-views-all-products-block-3 .views-field-field-country {
  padding: 5px;
}
/* line 171, ../sass/global.scss */
#block-views-product-block .views-field-title a,
#block-views-product-block-1 .views-field-title a,
#block-views-product-block-3 .views-field-title a,
#block-views-all-products-block-3 .views-field-title a {
  color: #222;
  font-size: 1.1em;
  font-weight: 300;
}
/* line 176, ../sass/global.scss */
#block-views-product-block .views-field-field-country,
#block-views-product-block-1 .views-field-field-country,
#block-views-product-block-3 .views-field-field-country,
#block-views-all-products-block-3 .views-field-field-country {
  text-transform: uppercase;
}

/* line 180, ../sass/global.scss */
#block-views-catchphrases-block {
  padding: 0 0 10em 0;
}
/* line 181, ../sass/global.scss */
#block-views-catchphrases-block .views-field-body p {
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  font-size: 3.5em;
  line-height: 120%;
  color: #fff;
  padding: 2em 0 0 0;
}

/* line 191, ../sass/global.scss */
#block-views-suppliers-block .views-row {
  clear: both;
  padding: 0 0 2em 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1em;
}
/* line 197, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-logo img {
  border: 1px solid #cccccc;
  margin: 0 10px 10px 0;
}
/* line 201, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-country a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #3a64e9;
  padding: 14px 10px 4px 10px;
  display: block;
  width: 60px;
  font-size: .7em;
  clear: both;
}
/* line 211, ../sass/global.scss */
#block-views-suppliers-block .views-field-field-country a:hover {
  color: #ceff00;
  background: #000;
}
/* line 216, ../sass/global.scss */
#block-views-suppliers-block .views-field-title {
  margin-bottom: 10px;
}
/* line 218, ../sass/global.scss */
#block-views-suppliers-block .views-field-title a {
  color: #222;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 225, ../sass/global.scss */
#block-views-suppliers-block .views-field-title a:hover {
  text-decoration: underline;
}
/* line 230, ../sass/global.scss */
#block-views-suppliers-block .views-field-body p {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: .9em;
  line-height: 130%;
  color: #555;
}

/* line 239, ../sass/global.scss */
#block-views-suppliers-block-1 .views-field-description {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin: 20px 0 0 10px;
  margin-top: 0;
}
/* line 243, ../sass/global.scss */
#block-views-suppliers-block-1 .views-field-field-logo img {
  padding: 1em;
  border: 1px solid #cccccc;
  float: left;
  margin-right: 20px;
}
/* line 249, ../sass/global.scss */
#block-views-suppliers-block-1 .views-field-field-country {
  float: right;
}

/* line 254, ../sass/global.scss */
#block-views-suppliers-block-2 h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3em;
  padding-bottom: .2em;
  margin-bottom: 1em;
}
/* line 261, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row {
  height: 500px;
  background: #fff;
  border: 1px solid #cccccc;
  margin-bottom: 1em;
}
/* line 266, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-illustration {
  padding: 20px;
}
/* line 270, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title,
#block-views-suppliers-block-2 .views-row .views-field-body {
  margin-left: 10px;
  padding-right: 10px;
}
/* line 274, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title {
  margin-bottom: 10px;
}
/* line 276, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title a {
  color: #222;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 283, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-title a:hover {
  text-decoration: underline;
}
/* line 289, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin: 20px 0 0 10px;
}
/* line 297, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-grape-varieties {
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
  padding: 6px 10px;
}
/* line 301, ../sass/global.scss */
#block-views-suppliers-block-2 .views-row .views-field-field-grape-varieties a {
  color: #3a64e9;
  text-decoration: none;
}

/* line 308, ../sass/global.scss */
#block-views-frontpage-news-block {
  margin: 2em 0 0 0;
}
/* line 309, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-title {
  margin-bottom: 10px;
}
/* line 310, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-title a {
  color: #222;
  font-size: 1.1em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 320, ../sass/global.scss */
#block-views-frontpage-news-block .views-field-body p,
#block-views-frontpage-news-block .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin: 20px 0 0 10px;
  margin-left: 0;
}

/* line 326, ../sass/global.scss */
#block-views-contact-block {
  float: right;
}
/* line 327, ../sass/global.scss */
#block-views-contact-block .views-row {
  margin-bottom: 2em;
}
/* line 328, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-title {
  color: #3a64e9;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: .5em;
}
/* line 335, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-body p,
#block-views-contact-block .views-row .views-field-body {
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 160%;
  color: #555;
  margin: 20px 0 0 10px;
}
/* line 338, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map {
  padding: 1em 0;
}
/* line 340, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #3a64e9;
  padding: 14px 10px 4px 10px;
  display: block;
  font-size: .7em;
  clear: both;
}
/* line 349, ../sass/global.scss */
#block-views-contact-block .views-row .views-field-field-google-map a:hover {
  color: #ceff00;
  background: #000;
}

/* line 358, ../sass/global.scss */
#block-search-form {
  float: right;
  padding: 0 0 1em 0;
}

/* line 362, ../sass/global.scss */
ul.superfish-2 .sf-vertical, ul.superfish-2 .sf-vertical li {
  width: 30em;
}

/* line 366, ../sass/global.scss */
ul.language-switcher-locale-url li {
  display: inline;
  float: left;
  margin-right: 20px;
}
/* line 370, ../sass/global.scss */
ul.language-switcher-locale-url li a {
  text-decoration: none;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
